// 样式重置
*{
  box-sizing: border-box;
  outline: none;
}

html{
  font-size: 13px;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background: #f1f1f1;
}

a{
  color: #999999; 
}

p{
  line-height: 1.2rem;
}

// 颜色定义
$colors:(
  "primary":#db9e3f,
  "white":#ffffff,
  "black":#000000,
  "dark":#343440,
  "select":#4b67af,
  "blue":#4394e4,
  "red":#791A16,
  "brown":#33332C,
  "white_light":#f9f9f9,
  "grey_light":#999999,
  "grey_light_1":#666,
  "grey_light_2":#777,
  "grey_light_3":#9fa0a0,
  "grey_light_4":#eceef0,
  "grey_border":#d4d9de,
  "grey_dark":#222222,
);
$border-color:map-get($colors,grey_border);
@each $colorKey,$color in $colors {
  .text-#{$colorKey} {
    color:$color;
  }
  .bg-#{$colorKey} {
    background-color:$color;
  }
}

// borders
@each $dir in (top,right,bottom,left) {
  .border-#{$dir}{
    border-#{$dir}:1px solid map-get($colors,grey_border);
  }
}
// 文本定义
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align:$var !important; 
  }
}

// 字体大小
$base-font-size:1rem;
$font-sizes:(
  xxs:0.615,//8px
  xs:0.7692,//10px
  sm:0.9231,//12px
  md:1,//13px
  lg:1.0769,//14px
  lm:1.1538,
  xl:1.2308,//16px
  xxl:1.3846//18px
);
@each $sizeKey,$size in $font-sizes{
 .fs-#{$sizeKey}{
   font-size:$size * $base-font-size;
 }
}
.fw-b{
  font-weight: bold;
}
// 文字浮动
.text-ellipsis{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// flex
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
// justify-content
$flex-jc:(
  start:flex-start,
  end:flex-end,
  center:center,
  between:space-between,
  around:space-around,
);
@each $flexKey,$value in $flex-jc{
  .jc-#{$flexKey} {
    justify-content: $value;
  }
}
// align-items
$flex-ai:(
  start:flex-start,
  end:flex-end,
  center:center,
  stretch:stretch,
);
@each $flexKey,$value in $flex-ai{
  .ai-#{$flexKey} {
    align-items: $value;
  }
}

//宽高
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}

// 定位
.pr{
  position: relative;
}
.pa{
  position: absolute;
}
// 拉伸
.flex-grow {
  flex-grow: 1;
}
.flex-1{
  flex:1;
}

// 定义边距
$spacing-types:(m:margin,p:padding);
$spacing-directions:(t:top,b:bottom,r:right,l:left);
$spacing-base-size:1rem;
$spacing-sizes:(
0:0,
1:0.25,
2:0.5,
3:1,
4:1.5,
5:3
);

@each $typeKey,$type in $spacing-types{
  // m-1 {margin-top: 0;}
  @each $sizeKey,$size in $spacing-sizes{
    .#{$typeKey}-#{$sizeKey}{
      #{$type}:$size * $spacing-base-size; 
    }
  }
  //mx-1
  @each $sizeKey,$size in $spacing-sizes{
    .#{$typeKey}x-#{$sizeKey}{
      #{$type}-left:$size * $spacing-base-size; 
      #{$type}-right:$size * $spacing-base-size; 
    }
  // my-1 
    .#{$typeKey}y-#{$sizeKey}{
      #{$type}-top:$size * $spacing-base-size; 
      #{$type}-bottom:$size * $spacing-base-size; 
    }
  }
  // eg:mt-1 {margin-top:0.25rem}
  @each $directionKey,$direction in $spacing-directions{
    @each $sizeKey,$size in $spacing-sizes{
      .#{$typeKey}#{$directionKey}-#{$sizeKey}{
        #{$type}-#{$direction}:$size * $spacing-base-size; 
      }
    }
  }
}

// 按钮
.btn{
  border:none;
  border-radius: 0.1538rem;
  font-size: map-get($font-sizes,'xs') * $base-font-size;
  padding: 0.3rem 0.6rem;
  &.btn-2{
    background-color: map-get($colors,white_light);
    border: 1px solid map-get($colors,grey_light_4);
    padding: 0.8rem;
    font-size: 1rem;
  }
}
// 导航
.nav{
  display: flex;
  .nav-item{
    border-bottom:3px solid transparent;
    padding-bottom: 0.2rem;
    &.active{
      color: map-get($colors,'primary');
      border-bottom-color:map-get($colors, 'primary');
    }
  }
  &.nav-inverse{
    .nav-item{
      color: map-get($colors,'white');
      &.active{
        border-bottom-color:map-get($colors, 'white');
      }
    }
  }
}

// sprite 
.sprite{
  background:url(~@/assets/index.png) no-repeat 0 0;
  background-size:28.8462rem 35rem;
  display:inline-block;
  &-up{
    width: 0.7692rem;
    height: 0.7692rem;
    background-position:38.577% 52.076%;
  }
  &-topbar{
    width: 28.8462rem;
    height: 3.4615rem;
    background-position: 0 87.195%;
  }
  &-logo{
    width: 2.3077rem;
    height: 2.3077rem;
    background-position:0 72.588%;;
  }
  &-blz{
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 63.546% 15.517%;
  }
  &-gsz{
    width: 1.7692rem;
    height: 1.5385rem;
    background-position: 90.483% 15.614%;
  }
  &-zbsc{
    width: 1.4615rem;
    height: 1.6923rem;
    background-position: 36.746% 0.924%;
  }
  &-tyf{
    width: 1.5385rem;
    height: 1.5385rem;
    background-position: 10.408% 15.517%;
  }
  &-xrzq{
    width: 1.5385rem;
    height: 1.6154rem;
    background-position: 89.733% 1.266%;
  }
  &-rycc{
    width: 1.8462rem;
    height: 1.5385rem;
    background-position: 36.467% 15.287%;
  }
  &-wzyd{
    width: 1.8462rem;
    height: 1.8462rem;
    background-position: 63.3% 0.927%;
  }
  &-gzh{
    width: 1.8462rem;
    height: 1.5385rem;
    background-position: 0 96.207%;
  }
  &-bbjs{
    width: 1.8462rem;
    height: 1.8462rem;
    background-position: 44.097% 97.219%;
  }
  &-djhj{
    width: 2.6154rem;
    height: 1.6154rem;
    background-position: 68.768% 96.893%;
  }
  &-wxwzt{
    width: 2.4615rem;
    height: 0.6923rem;
    background-position: 19.534% 95.633%;
  }
  &-cyhdy{
  	width: 3.2308rem;
	  height: 2.9231rem;
    background-position:97.447% 98.801%;
  }
  &-new {
    width: 1rem;
    height: 1rem;
    background-position:0.138% 50.452%;
  }
  &-menu {
  	width: 1.3846rem;
	  height: 0.2308rem;
    background-position:47.619% 56.305%;
  }
  &-hero{
    width: 0.9231rem;
    height: 1rem;
    background-position:46.768% 60.452%;
  }
  &-video{
    width: 1rem;
    height: 0.8462rem;
    background-position: 0.138% 56.532%;
  }
}
.bg-video{
  background: url(https://game.gtimg.cn/images/yxzj/m/m201706/images/herodetail/icon_06.png) no-repeat 0 0;
  background-size: 3.0769rem 3.0769rem;
  background-position:0%;
}